
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: hsla(71, 50%, 95%, 1);
    --color2: hsla(197, 88%, 40%, 1);
    --color3: hsla(355, 87%, 66%, .1);
    --color4: hsla(238, 16%, 55%, .2);
    --color5: hsla(239, 94%, 19%, 1);
    
    font-family: 'Voltaire', sans-serif;
    background-color: var(--color2);
    background-image: url(../assets/city-bg.jpg);
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    width: 95%;
    border-radius: 40px;
    background-color: var(--color4);
    padding-bottom: 100px;
    margin-top: 25px;
}

#dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    width: 100%;
}

select {
    border-radius: 10px;
    margin-left: 20px;
}

img {
    width: 400px;
    height: 266px;
    border-radius: 15px;
    background-color: var(--color3);
}

span {
    font-size: 1.3rem;
}

.image-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    margin-bottom: 26px;
}

#break {
    width: 100%;
}

#slogan {
    display: flex;
    flex-direction: column;
}

#slogan-input {
    margin: 5px 0px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    margin: 50px 0px 0px 0px;
    text-shadow: 0 5px 25px var(--color1);
}

label {
    font-size: 2rem;
    display: flex;
    /* align-items: center; */
    /* margin-bottom: 15px; */
}

.gutter-right {
    margin-right: 20px;
}

.label-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}
  
.custom-select select {
    background-color: var(--color2);
    color: var(--color1);
    padding: 12px;
    width: 150px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
  
.custom-select select option {
    padding: 30px;
}

header img {
    height: var(--header-height);
}

input {
    border-radius: 5px;
    border-color: var(--color2);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    height: 30px;
}

#buttons-div {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 5px;
    background-color: var(--color2);
    color: var(--color1);
    border: 2px solid var(--color2);
    width: 48%;
    margin: 5px 0px;
    padding: 10px 0px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    font-weight: bold;
    font-color: var(--color1);
}

p {
    margin: var(--gutter);
    font-size: 1.8rem;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}